.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.imgThumb {
  width: 247px;
  height: 191px;
}

.mainImg {
  width: 100%;
  height: 100%;
}

.subtitle {
  color: var(--gray-text-color-second);
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .imgThumb {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .imgThumb {
    width: 498px;
    height: 435px;
  }
}
