.navWrap {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.navLink {
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.navLink.active {
  color: var(--background-white);
  background-color: var(--main-green);
  border-radius: 15px;
  padding: 12px 20px;
}

.navLink:hover {
  color: var(--gray-text-color);
}

@media screen and (max-width: 768px) {
  .navWrap {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .navWrap {
    gap: 28px;
  }
}
