.modalDrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWrap {
  background-color: var(--main-green);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

  padding: 48px 16px;
  width: 288px;

  flex-direction: column;
}

.btnClose {
  position: absolute;
  right: 16px;
  top: 16px;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.iconClose {
  width: 24px;
  height: 24px;
  stroke: var(--white);
}

@media screen and (min-width: 375px) {
  .modalWrap {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .modalWrap {
    width: 628px;
    padding: 48px 64px;
  }
  .btnClose {
    right: 20px;
    top: 20px;
  }
  .iconClose {
    width: 32px;
    height: 32px;
  }
}
