.headerContent {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.logoIcon {
  width: 36px;
  height: 36px;
}
.logoText {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  /* margin-top: 5px; */
}

.navUserContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 900px) {
  .logoIcon {
    width: 40px;
    height: 40px;
  }
  .logoText {
    font-size: 22px;
  }
}
