.button {
  background: none;
  border: none;
}
.iconBurger {
  width: 40px;
  height: 28px;
  stroke: var(--black);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* регулируйте по вашему усмотрению */
}

.navLink {
  font-size: 20px; /* регулируйте по вашему усмотрению */
  padding: 10px 15px;
}
