.containerForm {
  padding: 32px 16px;
  border-radius: 25px 25px 0px 0px;
  background-color: var(--form-background);
  width: 100%;
  /* max-width: 628px; */
}
.titleForm {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 16px;
}
.subtitle {
  color: var(--gray-text-color-second);
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 24px;
}
.hiddenLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.containerInput {
  position: relative;
}
.input {
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 15px;
  height: 56px;
  padding-left: 18px;
  background-color: transparent;
  outline: none;
  transition: all 0.3s ease;
}

.input:hover,
.input:focus,
.input:active {
  border-color: var(--main-green);
}
.input::placeholder {
  color: var(--black);
  opacity: 1;
  font-family: "FixelDisplay";
}

.iconEye {
  position: absolute;

  stroke: var(--black);
  fill: transparent;
  width: 18px;
  height: 18px;
  top: 35%;
  right: 21px;
}
.btnSubmit {
  margin-top: 18px;
  border-radius: 30px;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  background-color: var(--main-green);
  border: none;
  height: 56px;
  margin-bottom: 16px;
  transition: background-color 0.3s ease;
}
.btnSubmit:hover,
.btnSubmit:focus,
.btnSubmit:active {
  background-color: var(--hover-green);
}
.validationContainer {
  position: absolute;
  bottom: -18px;
  left: 0;
  display: flex;
  gap: 5px;
}

.errorMessage {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--form-error);
}
.successMessage {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--form-success);
}
.error {
  border-color: var(--form-error);
}

.valid {
  border-color: var(--form-success);
}
.iconInput {
  width: 14px;
  height: 14px;
}
.linkContainer {
  display: flex;
  justify-content: center;
}

.link {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration-line: underline;
  color: var(--gray-text-color);
  transition: all 0.3s ease;
}

.link:hover,
.link:active,
.link:focus {
  color: var(--black);
}

@media screen and (min-width: 375px) {
  .containerForm {
    width: 375px;
  }
  .titleForm {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
  }
  .loginForm {
    gap: 18px;
  }
  .btnSubmit {
    margin-top: 14px;
  }
}

@media screen and (min-width: 768px) {
  .containerForm {
    width: 628px;
    padding: 48px 64px;
    border-radius: 30px;
  }
}
