.button {
  background-color: transparent;
  border: none;
}

.icon {
  width: 12px;
  height: 22px;
}

.btnWrap {
  width: 117px;
  height: 70px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  justify-content: center;
  padding: 12px 24px 9px 24px;
}

.menuBtn {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  border: none;
  background-color: transparent;
  display: flex;
  gap: 8px;
}

.menuIcon {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: var(--main-green);
}
