.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  gap: 8px;
  border: none;
  background-color: transparent;
  transition: all 0.4s ease;
}

.button:hover .iconPlus {
  transform: rotate(90deg);
}

.button:hover {
  color: var(--gray-text-color);
}

.iconPlus {
  width: 20px;
  height: 20px;
  stroke: var(--main-green);
  transition: transform 0.4s ease;
}

.containerForm {
  width: 100%;
}
.containerFormEdit {
  width: 100%;
}
.title {
  color: var(--background-white);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 16px;
}
.subtitle {
  color: rgba(252, 252, 252, 0.8);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.label {
  color: var(--background-white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  display: flex;
  gap: 8px;
  align-items: center;
}
.countryIcon {
  width: 28px;
  height: 28px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  position: relative;
}
.input {
  height: 48px;
  padding-left: 24px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--background-white);
}
.btnWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 32px;
}
.btnAdd {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--background-white);
  border: none;
  border-radius: 30px;
  width: 159px;
  height: 48px;
  transition: all 0.3s ease;
}
.btnAdd:hover,
.btnAdd:focus,
.btnAdd:active {
  color: var(--main-green);
}
.btnCancel {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--background-white);
  border: 1px solid rgba(252, 252, 252, 0.4);
  border-radius: 30px;
  width: 159px;
  height: 48px;
  background-color: transparent;
  transition: all 0.3s ease;
}
.btnCancel:hover,
.btnCancel:focus,
.btnCancel:active {
  color: var(--black);
}
.categoryWrap {
  position: relative;
}
.errorCategory {
  position: absolute;
  font-size: 11px;
  top: 49px;
  left: 143px;
  color: rgba(252, 252, 252, 0.8);
}

.errorInput {
  position: absolute;
  color: rgba(252, 252, 252, 0.8);
  font-size: 11px;
  top: 86px;
  right: 5px;
}

.notificationRadio {
  overflow: hidden;
  visibility: hidden;
  margin-bottom: 16px;
  color: rgba(252, 252, 252, 0.8);
  font-size: 10px;
  line-height: 1.2;
}
.notificationRadio.visible {
  visibility: visible;
}

.errorRadio {
  position: absolute;
  font-size: 11px;
  top: 283px;
  right: 20px;
  color: rgba(252, 252, 252, 0.8);
}
/* RADIO BUTTON */
.btnWrap {
  display: flex;
  flex-direction: row;
  gap: 16px;
  /* margin-top: 8px;*/
  margin-bottom: 8px;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.3s;
  /* position: relative; */
}
.btnWrap.visible {
  visibility: visible;
}
.radioContainer {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  font-size: 12px;
  color: var(--background-white);
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid rgba(252, 252, 252, 0.3);
  box-sizing: border-box;
}

.radioContainer:hover .checkmark {
  border: 2px solid var(--background-white);
}

.radioContainer input:checked ~ .checkmark {
  box-sizing: border-box;
  border: 2px solid var(--background-white);
  border-radius: 10px;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--background-white);
}
.radioContainer input:checked ~ .checkmark::after {
  display: block;
}

.radioContainer:hover input ~ .checkmark::after {
  display: block;
}
@media screen and (min-width: 375px) {
  .errorCategory {
    left: 199px;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 32px;
  }
  .inputContainer {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 32px;
    margin-bottom: 18px;
  }
  .containerFormEdit {
    padding: 16px 0;
  }
  .countryIcon {
    width: 32px;
    height: 32px;
  }
  .input {
    width: 354px;
    height: 56px;
    border-color: rgba(252, 252, 252, 0.3);
  }
  .label {
    font-size: 16px;
    line-height: 1.5;
  }
  .btnAdd {
    width: 245px;
    height: 56px;
  }
  .btnCancel {
    width: 245px;
    height: 56px;
  }
  .notificationRadio {
    font-size: 12px;
  }
  .radioContainer {
    font-size: 16px;
  }
  .errorInput {
    top: 58px;
    right: 153px;
  }
  .errorCategory {
    top: 49px;
    left: 90px;
  }
  .errorRadio {
    right: 0;
    left: 64px;
    top: 320px;
  }
}
