.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* margin-bottom: 18px; */
  /* align-items: center; */
}

.inputContainer {
  width: 100%;
  position: relative;
}

.input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 15px;
  padding: 14px 24px 10px 24px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  height: 48px;
  font-family: "FixelDisplay";
  width: 100%;
  outline: none;
}
.input::placeholder {
  color: var(--black);
  opacity: 1;
  font-family: "FixelDisplay";
}
.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: var(--black);
  right: 22px;
  top: 32%;
}
/* RADIO BUTTON */
.btnWrap {
  display: flex;
  flex-direction: row;
  gap: 16px;

  visibility: hidden;
  transition: all 0.3s;
}

.btnWrap.visible {
  visibility: visible;
}

.radioContainer {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid rgba(18, 20, 23, 0.2);
  box-sizing: border-box;
}

.radioContainer:hover .checkmark {
  border: 2px solid var(--main-green);
}

.radioContainer input:checked ~ .checkmark {
  box-sizing: border-box;
  border: 2px solid var(--main-green);
  border-radius: 10px;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #85aa9f;
}
.radioContainer input:checked ~ .checkmark::after {
  display: block;
}

.radioContainer:hover input ~ .checkmark::after {
  display: block;
}

@media screen and (min-width: 375px) {
  .inputContainer {
    width: 343px;
  }
}
@media screen and (min-width: 768px) {
  .radioContainer {
    font-size: 14px;
  }
  .filterContainer {
    flex-direction: row;
    align-items: center;
  }
  .inputContainer {
    width: 274px;
  }
  .btnWrap {
    margin-top: 0;
  }
}
