@font-face {
  font-family: "FixelDisplay";
  src: url(../src/fonts/FixelDisplay-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FixelDisplay";
  src: url(../src/fonts/FixelDisplay-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FixelDisplay";
  src: url(../src/fonts/FixelDisplay-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FixelDisplay";
  src: url(../src/fonts/FixelDisplay-SemiBold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../src/fonts/SF-Pro-Display-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../src/fonts/SF-Pro-Display-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@import-normalize;

:root {
  --black: #121417;
  --white: #f8f8f8;
  --background-white: #fcfcfc;
  --main-background: rgb(226, 226, 226);
  --gray-text-color: rgba(18, 20, 23, 0.5);
  --gray-text-color-second: rgba(18, 20, 23, 0.8);
  --main-green: #85aa9f;
  --hover-green: #a5c0b8;
  --form-error: #d80027;
  --form-success: #3cbf61;
  --progress-full: #2bd627;
  --progress-empty: #d4f8d3;
  --form-background: rgba(133, 170, 159, 0.1);
  --border: rgb(219, 219, 219);
  --pure-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  font-family: "FixelDisplay", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  vertical-align: middle;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
