.progressWrapTable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.progressWrapTrain {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}
.boxTable {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxTrain {
  position: relative;
}
.trainPrcent {
  position: absolute;
  font-size: 16px;
  font-weight: 500;
}
.tablePrcent {
  display: none;
  margin-top: 3px;
}

@media screen and (min-width: 768px) {
  .tablePrcent {
    display: block;
  }
  .progressWrapTable {
    justify-content: space-between;
    width: 78px;
  }
}

@media screen and (min-width: 1440px) {
  .progressWrapTable {
    width: 88px;
  }
}
